.mp-popover {
  padding-top: 1rem;

  .ant-popover {
    &-arrow {
      display: none;
    }

    &-inner {
      background-color: #fff;
      box-shadow: 0 20px 32px 0 #6061703D, 0 2px 8px 0 #28293D14;
      border-radius: 0.5rem;
      padding: 0;

      &-content {
        height: calc(65vh);
        padding: 0;
      }
    }
  }

  &-header,
  &-chat,
  &-devices {
    padding: 0.75rem 1rem;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F0F1FA;

    &__title {
      color: #52597A;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1rem;
    }

    &__count {
      display: inline-block;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1rem;
      text-align: center;
      background-color: #FC6C6C;
      border-radius: 50rem;
      padding: 0.25rem;
      min-width: 1.5rem;
      min-height: 1.5rem;
    }

    &-close {
      --mp-popover-close-icon-color: #52597A;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 3rem;
      appearance: none;
      background: none;
      cursor: pointer;

      &__icon {
        fill: var(--mp-popover-close-icon-color);
        width: 0.75rem;
        height: 0.75rem;
        transition: all .125s linear;
      }

      &:hover {
        --mp-popover-close-icon-color: #8c97c9;
      }

      &:active {
        --mp-popover-close-icon-color: #333854;
      }
    }
  }

  &-chat {
    display: flex;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.5rem 0;
      border-bottom: 1px solid #E0E2EB;

      &-avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        &__image {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50rem;
        }
        &__badge {
          color: #33374D;
          font-size: 0.75rem;
          font-weight: 500;
          line-height: 1rem;
          background-color: #E5F4FF;
          border-radius: 2px;
          padding: 4px;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &__top {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        }

        &__bot {
          color: #52597A;
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 1rem;
          max-width: 22rem;
        }

        &__title {
          color: #52597A;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
        }

        &__date {
          color: #A3A8C2;
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 1rem;
        }
      }
    }
  }

  &-devices {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-item {
      --mp-popover-device-color: #52597A;
      --mp-popover-device-bg: #fff;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.5rem;
      box-shadow: 0 0.5px 2px 0 #60617029, 0 0 1px 0 #28293D14;
      background-color: var(--mp-popover-device-bg);

      &--primary {
        --mp-popover-device-bg: #F0F9FF;
        --mp-popover-device-color: #0094FF;
      }

      &--info {
        --mp-popover-device-bg: #E6E9FA;
        --mp-popover-device-color: #6C7FE0;
      }

      &__title {
        color: var(--mp-popover-device-color);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
        letter-spacing: 0.2px;
      }

      &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;

        &__img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }

      &-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #0094FF;
        border-radius: 4px;
        margin-left: auto;

        &__icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
